node_modules
Dockerfile*
docker-compose*
.dockerignore
.github
.git
.gitignore
.gitattributes
.prettierignore
README.md
CONTRIBUTING.md
LICENSE
.vscode
Makefile
helm-charts
.env*
.editorconfig
.idea
coverage*
bin
assets